@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:wght@400;500;600;700&display=swap');

:root {
  --form-control-color: rebeccapurple;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  background: #322653;
  color: #FFD2D7;
  font-family: 'Lato', sans-serif;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
  
}

*::-webkit-scrollbar-track {
  background: #322653;
}

*::-webkit-scrollbar-thumb {
  background-color: #8062D6;
  border-radius: 10px;
  border: 3px solid #322653;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.content h1 {
  padding: 1em 0;
}

.project {
  position: relative;
  background: #8062D6;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  box-sizing: border-box;
  z-index: 0;
  overflow: hidden;
  border-radius: 10px;
}

.openProjectBg {
  background-color: #9288F8;
}

.project div {
  z-index: 2;
  pointer-events: none;
}

.project .slider {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #9288F8;
  z-index: 1;
  transition: transform 0.2s ease-out;
}

.sliderHidden {
  transform: translateY(-100%);
}

.sliderShown {
transform: translateY(0px);
}

.newProjectForm {
  background-color: #322653;
  color: #8062D6;
  border: #8062D6 3px solid;
  text-align: start;
  box-sizing: border-box;
}

.formWrapper {
  width: 90%;
}

.newProjectForm input, .newProjectForm textarea {
  background-color: #322653;
  color: #FFD2D7;
  width: 100%;
  border: none;
  border-left: #8062D6 2px solid;
  margin-bottom: 1em;
}

.newProjectForm input:focus, .newProjectForm textarea:focus {
  outline: none;
  max-height: 10em;
}

textarea {
  cursor: auto;
  resize: none;
  font-family: 'Lato', sans-serif;
}

.nTitle {
  font-size: 1.5em;
}

.nDescription {
  font-size: 1rem;
  overflow: auto;
  max-height: 10em;
}

caption {
  margin-bottom: 0.5em;
}

.addButton svg, .addTodoButton svg   {
  fill: #8062D6;
  height: 3em;
  pointer-events: all;
  transition: transform 0.3s;
}

.addButton svg:hover, .addTodoButton svg:hover{
  transform: scale(1.2);
}

.pWrapper {
  text-align: start;
  width: 100%;
}

.pTitle {
  font-size: 1.9em;
  margin-bottom: 0.2rem;
}

.pCreationDate {
  font-size: 0.8em;
  margin-bottom: 0.2rem;
}

.pDescription {
  font-size: 1.1em;
  width: 90%;
}

.pArrowSvg {
  transition: transform 0.3s;
}

.pArrowSvg svg {
  height: 3em;
  fill: #FFD2D7;
}

.rotated {
  transform: rotate(180deg);
}

.todoContainer {
  background-color: #8062D6;
  width: calc(100% - 2em);
  max-height: 0px;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
  overflow: hidden;
}

.todoContainer > div {
  margin: 1em;
}

.todoShown {
  transition: max-height 1s ease-in;
  max-height: 1000px;
}

.todoList {
  max-height: 500px;
  overflow: auto;
}

.todoList::-webkit-scrollbar-track {
  background-color: #8062D6;
}

.todoList::-webkit-scrollbar-thumb {
  background-color: #9288F8;
  border-radius: 10px;
  border: 3px solid #8062D6;
}

.newTodoForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  padding: 1em;

  border: #9288F8 3px solid;
  border-radius: 10px;
}

form caption {
  width: 200px;
  text-align: start;
}

.newTodoForm input, .newTodoForm textarea{
  background-color: #8062D6;
  color: #FFD2D7;
  width: 100%;
  border: none;
  border-left: #FFD2D7 2px solid;
  margin-bottom: 1em;
  max-height: 10em;
}

.newTodoForm input:focus, .newTodoForm textarea:focus {
  outline: none;
}

.newTodoForm textarea::-webkit-scrollbar-track {
  background: #8062D6;
}

.newTodoForm textarea::-webkit-scrollbar-thumb {
  background-color: #322653;
  border-radius: 10px;
  border: 3px solid #8062D6;
}

.addTodoButton svg {
  fill: #FFD2D7;
}

.nTask {
  font-size: 1.3em;
}

.nTaskDescription, .nDueDate {
  font-size: 1rem;
}

.priorityContainer {
  display: flex;
}

.todo {
  background-color: #9288F8;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.todoWrapper {
  width: 95%;
  margin: 1rem;
  text-align: start;
}

.todoWrapper > div {
  margin-bottom: 0.2rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.task {
  font-size: 1.5em;
}

.dates {
  font-size: 0.8em;
}

.priority {
  display: flex;
  align-items: flex-end;
}

.priority svg{
  height: 1.3em;
}

.priority0 svg{
  fill: #ffffff;
}

.priority1 svg{
  fill: #ffffff;
}

.priority2 svg{
  fill: gold;
}

.priorityRadio0 svg{
  fill: #ffffff;
}

.priorityRadio1 svg{
  fill: #ffffff;
}

.priorityRadio2 svg{
  fill: gold;
}

.removeListeners {
  pointer-events: none;
}

.priorityContainer {
  height: 25px;
}

/* Customize the label (the container) */
.radioLabel {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radioLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.radioSpan {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  margin-bottom: 1em;
  background-color: #8062D6;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radioSpan svg {
  height: 0.8em;
}

/* On mouse-over, add a grey background color */
.radioLabel:hover input ~ .radioSpan {
  background-color: #322653;
}

/* When the radio button is checked, add a blue background */
.radioLabel input:checked ~ .radioSpan {
  background-color: #9288F8;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radioSpan:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioLabel input:checked ~ .radioSpan:after {
  display: block;
}



/* Customize the label (the container) */
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkboxSpan {
  position: absolute;
  top: -4px;
  left: 0;
  height: 26px;
  width: 26px;
  margin-left: 1rem;
  background-color: #9288F8;
  border-radius: 15%;
}

.checkboxSpan svg {
  fill: #FFD2D7;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkboxSpan {
  background-color: #8062D6;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkboxSpan {
  background-color: #322653;
}

/* Create the checkboxSpan/indicator (hidden when not checked) */
.checkboxSpan:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkboxSpan when checked */
.checkboxContainer input:checked ~ .checkboxSpan:after {
  display: block;
}

.todoOperations {
  display: flex;
  gap: 0.7em;
  margin-left: auto;
}

.todoOperations div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em;
  border-radius: 15%;
}

.todoOperations div:hover {
  background-color: #8062D6;
}

.todoOperations svg {
  fill: #FFD2D7;
  height: 1.5em;
}