@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:wght@400;500;600;700&display=swap');

body {
  background: #322653;
  color: #FFD2D7;
  font-family: 'Lato', sans-serif;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
  
}

*::-webkit-scrollbar-track {
  background: #322653;
}

*::-webkit-scrollbar-thumb {
  background-color: #8062D6;
  border-radius: 10px;
  border: 3px solid #322653;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.content h1 {
  padding: 1em 0;
}

.project {
  position: relative;
  background: #8062D6;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  box-sizing: border-box;
  z-index: 0;
  overflow: hidden;
  border-radius: 10px;
}

.project div {
  z-index: 2;
  pointer-events: none;
}

.project .slider {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #9288F8;
  z-index: 1;
  transition: transform 0.2s ease-out;
}

.sliderHidden {
  transform: translateY(-100%);
}

.sliderShown {
transform: translateY(0px);
}

.newProjectForm {
  background-color: #322653;
  color: #8062D6;
  border: #8062D6 3px solid;
  text-align: start;
  box-sizing: border-box;
}

.formWrapper {
  width: 90%;
}

.newProjectForm input, .newProjectForm textarea {
  background-color: #322653;
  color: #FFD2D7;
  width: 100%;
  border: none;
  border-left: #8062D6 2px solid;
  margin-bottom: 1em;
}

.newProjectForm input:focus, .newProjectForm textarea:focus {
  outline: none;
  max-height: 10em;
}

textarea {
  cursor: auto;
}

.nTitle {
  font-size: 1.5em;
}

.nDescription {
  font-size: 1rem;
  resize: none;
  overflow: auto;
  max-height: 10em;
}

caption {
  margin-bottom: 0.5em;
}

.addButton svg {
  fill: #8062D6;
  height: 3em;
  pointer-events: all;
  transition: transform 0.3s;
}

.addButton svg:hover {
  transform: scale(1.2);
}

.pWrapper {
  text-align: start;
  width: 100%;
}

.pTitle {
  font-size: 1.9em;
  margin-bottom: 0.2em;
}

.pCreationDate {
  font-size: 0.8em;
}

.pDescription {
  font-size: 1.1em;
  width: 90%;
}

.pArrowSvg {
  transition: transform 0.3s;
}

.pArrowSvg svg {
  height: 3em;
  fill: #FFD2D7;
}

.rotated {
  transform: rotate(180deg);
}

.todoContainer {
  background-color: #8062D6;
  width: calc(100% - 2em);
  padding: 0;
  max-height: 0px;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  transition: all 1s;
}

.todoShown {
  max-height: 1000px;
  padding: 1em;
}